
.container {
  width: 100vw;
  padding-top: 3vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.container > * {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.header {
  max-width: var(--max-width);
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 3);
}

.main-text {
  margin-bottom: calc(var(--spacing) * 4);
  max-width: var(--max-width);
  padding-bottom: 2vw;
}
