
@keyframes shimmerWave {
  0% { 
    font-variation-settings: "wght" 500;
    color: #1a4ce0; 
  }
  33% { 
    font-variation-settings: "wght" 840;
    color: #c12f78; 
  }
  88% { 
    font-variation-settings: "wght" 840;
    color: #540a99; 
  }
  100% { 
    font-variation-settings: "wght" 500;
    color: #111; 
  }
}

@keyframes colorWave {
  0% { color: #1a4ce0; }
  33% { color: #c12f78; }
  88% { color: #540a99; }
  100% { color: #111; }
}

@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}
