
.case-study-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background: var(--case-background);
}

.case-content {
  width: 100%;
}

.case-title {
  font-size: 2.25rem;
  line-height: 1.35;
  letter-spacing: -0.035em;
  font-variation-settings: "wght" 400;
  color: var(--case-title-color);
  max-width: var(--max-width);
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.case-logo img {
  height: 32px;
  width: auto;
}
