
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--spacing) * 3);
  font-size: var(--font-size-base);
  padding: 0;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  font-variation-settings: "wght" 400;
  gap: 0.25rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing));
}
