.carousel-nav svg {
    stroke: #000;
    stroke-width: 2;
    width: 28px;
    height: 28px;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #000;
    border: 1px solid #f1f1f1;
    padding: 16px;
    cursor: pointer;
    z-index: 10000;
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
}

.carousel-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent 0%, transparent 70%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
    z-index: -1;
    transform: translateX(-100%) translateY(0%);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.carousel-nav:hover {
    border-color: #eaeaea;
    background-color: #fdfdfd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transform: translateY(-50%);
}

.carousel-nav:hover:before {
    transform: translateX(0) translateY(0);
    opacity: 1;
}