
/* ==========================================================================
   Header & Navigation
   ========================================================================== */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: calc(var(--spacing) * 3);
  font-size: 1.2rem;
  padding: 0;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: column;
  font-variation-settings: "wght" 400;
  gap: 0.25rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  font-variation-settings: "wght" 500;
  position: relative;
  color: #111;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  font-variation-settings: "wght" 500;
  animation: colorWave 0.8s ease-in-out forwards;
}

.nav-right .nav-link.active,
.nav-left .nav-link.active,
.main-nav .nav-link.active {
  color: #111 !important;
  cursor: default;
  pointer-events: none;
  animation: none !important;
  font-variation-settings: "wght" 500 !important;
  opacity: 1;
}

.nav-right .nav-link.active:hover,
.nav-left .nav-link.active:hover,
.main-nav .nav-link.active:hover {
  animation: none !important;
  color: #111 !important;
  font-variation-settings: "wght" 500 !important;
  opacity: 1;
}

.header {
  max-width: var(--max-width);
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 3);
}

/* Media queries */
@media (max-width: 788px) {
  .main-nav {
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .nav-right {
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .nav-left {
    flex-direction: column;
  }
  
  .name .subheadline {
    display: none;
  }
}
